<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>Food Truck Genie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="{% static "css/styles.css"%}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
<!-- begin template -->
<div class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header"><a class="navbar-brand" href="#">Food Truck Genie</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <form class="navbar-form">
            <div class="form-group" style="display:inline;">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" id="my-location" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span></button>
                    </div>
                    <input id="search-input" type="text" class="form-control" placeholder="Searching for particular food items?">
                    <span id="search-icon" class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="map-canvas"></div>
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-6" id="left">

            <p>
                <label for="distance">Maximum distance:</label>
                <input type="text" id="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="slider"></div>
            </p>

            <!-- item list -->
            <div id="item_list"></div>
            <!-- /item list -->

        </div>
        <div class="col-xs-6"><!--map-canvas will be postioned here--></div>

    </div>
</div>
<!-- end template -->

<!-- script references -->
<script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
<script language="javascript">
    var myMarkerIconURL = "{% static "images/my_marker.png" %}";
    var truckIconURL = "{% static "images/truck-catering.png" %}";
</script>
<script src="{% static "js/scripts.js" %}"></script>
</body>
</html>